Repository ansys/pyensight: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, debug-statements, black, isort, flake8, bandit, mypy

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

debug-statements:
  name: debug-statements
  entry: debug-statement-hook
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true
  args:
  - --line-length
  - '100'
  - --target-version
  - py37
  - src/ansys
  - codegen
  - doc

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true
  args:
  - --profile
  - black
  - --skip-gitignore
  - --force-sort-within-sections
  - --line-length
  - '100'
  - --section-default
  - THIRDPARTY
  - --filter-files
  - --project
  - ansys
  - ansys
  - codegen
  - doc
  - tests

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -lll
  - -n
  - '3'
  - -r
  - -x
  - venv/*,src/ansys/api/*,src/ansys/pyensight/ensight_api.py,setup.py,tests/*,codegen/*

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

fix mypy views and typing import in autogenerated stubs
  codegen/stub_api.py
  src/ansys/pyensight/utils/views.py
Due: debug-statements, black, isort, flake8, bandit, mypy

first draft
  src/ansys/pyensight/utils/parts.py
  src/ansys/pyensight/utils/views.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Hide more methods
  src/ansys/pyensight/enscontext.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Add mypy to precommit
  pybuild.py
  src/ansys/pyensight/enscontext.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Adding an EnsContext wrapper (#194)
  doc/source/rest_api/ensight_rest_v1.yaml
  pybuild.py
  src/ansys/pyensight/enscontext.py
Due: check-yaml, debug-statements, black, isort, flake8, bandit, mypy

improve typehints for the ensight module
  codegen/stub_api.py
  src/ansys/pyensight/session.py
  src/ansys/pyensight/utils/query.py
  src/ansys/pyensight/utils/views.py
Due: debug-statements, black, isort, flake8, bandit, mypy

fix unit tests
  codegen/stub_api.py
Due: debug-statements, black, isort, flake8, bandit

wip
  setup.py
  src/ansys/pyensight/dockerlauncherenshell.py
  src/ansys/pyensight/enshell_grpc.py
  src/ansys/pyensight/ensight_grpc.py
  src/ansys/pyensight/launch_ensight.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Implement Session contexts
  doc/replacements/ens_vport_methods.xml
  src/ansys/pyensight/enscontext.py
  src/ansys/pyensight/session.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Include the class in the docs
  doc/source/class_documentation.rst
Due: none

Include EnsContext link
  src/ansys/pyensight/enscontext.py
  src/ansys/pyensight/session.py
Due: debug-statements, black, isort, flake8, bandit, mypy

wip
  codegen/grpc_bindings.py
  src/ansys/pyensight/dockerlauncher.py
  src/ansys/pyensight/dockerlauncherenshell.py
  src/ansys/pyensight/enshell_grpc.py
Due: debug-statements, black, isort, flake8, bandit, mypy

clean up stuff from the borked merge
  src/ansys/pyensight/dockerlauncher.py
  src/ansys/pyensight/dockerlauncherenshell.py
Due: debug-statements, black, isort, flake8, bandit, mypy

add the possibility of getting typehints directly from the ensight module
  mypy.ini
  src/ansys/pyensight/utils/query.py
  src/ansys/pyensight/utils/views.py
Due: debug-statements, black, isort, flake8, bandit, mypy

first draft
  src/ansys/pyensight/utils/parts.py
Due: debug-statements, black, isort, flake8, bandit, mypy

second draft
  src/ansys/pyensight/utils/parts.py
Due: debug-statements, black, isort, flake8, bandit, mypy

wip
  codegen/grpc_bindings.py
  mypy.ini
  src/ansys/pyensight/dockerlauncherenshell.py
  src/ansys/pyensight/enshell_grpc.py
Due: debug-statements, black, isort, flake8, bandit, mypy

enable part utils support
  src/ansys/pyensight/listobj.py
  src/ansys/pyensight/utils/parts.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Feat/remote context (#196)
  doc/replacements/ens_vport_methods.xml
  doc/source/class_documentation.rst
  src/ansys/pyensight/enscontext.py
  src/ansys/pyensight/session.py
Due: debug-statements, black, isort, flake8, bandit, mypy

fix mypy errors
  src/ansys/pyensight/dockerlauncher.py
  src/ansys/pyensight/dockerlauncherenshell.py
  src/ansys/pyensight/enshell_grpc.py
  src/ansys/pyensight/launcher.py
  src/ansys/pyensight/locallauncher.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Add a name scoping class
  src/ansys/pyensight/utils/query.py
  src/ansys/pyensight/utils/support.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Add support to docs
  doc/source/class_documentation.rst
Due: none

Rename class
  src/ansys/pyensight/utils/support.py
Due: debug-statements, black, isort, flake8, bandit, mypy

refactor egl code. fix wheel generation so it includes stuff for enshell. general cleanup. working on Ansys Lab.
  mypy.ini
  setup.py
  src/ansys/pyensight/dockerlauncher.py
  src/ansys/pyensight/dockerlauncherenshell.py
  src/ansys/pyensight/launch_ensight.py
  src/ansys/pyensight/launcher.py
  src/ansys/pyensight/locallauncher.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Add a name scoping class
  doc/source/class_documentation.rst
  src/ansys/pyensight/utils/query.py
  src/ansys/pyensight/utils/support.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Fix issues with calling start() repeatedly
  src/ansys/pyensight/dockerlauncher.py
  src/ansys/pyensight/dockerlauncherenshell.py
  src/ansys/pyensight/launcher.py
  src/ansys/pyensight/locallauncher.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Randy's suggestions
  doc/source/class_documentation.rst
  src/ansys/pyensight/listobj.py
  src/ansys/pyensight/utils/parts.py
  src/ansys/pyensight/utils/views.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Fix issues with calling start() repeatedly (#200)
  src/ansys/pyensight/dockerlauncher.py
  src/ansys/pyensight/dockerlauncherenshell.py
  src/ansys/pyensight/launcher.py
  src/ansys/pyensight/locallauncher.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Randy's suggestions
  src/ansys/pyensight/listobj.py
  src/ansys/pyensight/utils/parts.py
Due: debug-statements, black, isort, flake8, bandit, mypy

get rid of Optional where None is not valid. clean up unit test.
  src/ansys/pyensight/dockerlauncherenshell.py
  src/ansys/pyensight/locallauncher.py
  tests/unit_tests/test_locallauncher.py
Due: debug-statements, black, isort, flake8, bandit, mypy

push previously unsaved file
  src/ansys/pyensight/dockerlauncher.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Rename feature to improve docs
  src/ansys/pyensight/utils/support.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Rename feature to improve docs (#201)
  src/ansys/pyensight/utils/support.py
Due: debug-statements, black, isort, flake8, bandit, mypy

convert print output to logging output. remove the cap on the protobuf version.
  setup.py
  src/ansys/pyensight/dockerlauncher.py
  src/ansys/pyensight/dockerlauncherenshell.py
Due: debug-statements, black, isort, flake8, bandit, mypy

fix unit test checking logs instead of output; ask mypy to not check site-packages and fix git ignore to ignore enshell downloaded files
  .gitignore
  mypy.ini
  pybuild.py
  tests/unit_tests/test_dockerlauncher.py
Due: debug-statements, black, isort, flake8, bandit

Mfkrogh/enshell grpc cleanup (#197)
  .gitignore
  codegen/grpc_bindings.py
  mypy.ini
  pybuild.py
  setup.py
  src/ansys/pyensight/dockerlauncher.py
  src/ansys/pyensight/dockerlauncherenshell.py
  src/ansys/pyensight/enshell_grpc.py
  src/ansys/pyensight/ensight_grpc.py
  src/ansys/pyensight/launch_ensight.py
  src/ansys/pyensight/launcher.py
  src/ansys/pyensight/locallauncher.py
  tests/unit_tests/test_dockerlauncher.py
  tests/unit_tests/test_locallauncher.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Rework dependencies
  setup.py
Due: debug-statements, black, isort, flake8, bandit

Rework setup.py dependencies
  setup.py
Due: debug-statements, black, isort, flake8, bandit

Sigh, revert the revert???
  setup.py
Due: debug-statements, black, isort, flake8, bandit

new pytest using the utils module, together with the same proposed as an example
  doc/source/_static/02_utils_0.png
  doc/source/_static/02_utils_1.png
  doc/source/_static/02_utils_2.png
  doc/source/_static/02_utils_3.png
  doc/source/_static/02_utils_4.png
  doc/source/_static/02_utils_5.png
  doc/source/_static/02_utils_6.png
  doc/source/class_documentation.rst
  doc/source/examples_source/25-intermediate/02-utils.py
  setup.py
  src/ansys/pyensight/utils/query.py
  tests/example_tests/test_utils.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$
  mypy: any of: ^src/ansys/pyensight and \.py$
