Repository ansys/pyensight: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, debug-statements, black, isort, flake8, bandit, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: system
        types: [ yaml ]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: system
      - id: debug-statements
        name: debug-statements
        entry: debug-statement-hook
        language: system
        types: [ python ]
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        require_serial: true
        args: [  # black ignores files in .gitignore by default
            --line-length, "100",
            --target-version, "py37",
            src/ansys, codegen, doc
        ]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        require_serial: true
        args: [
            --profile, black,
            --skip-gitignore,
            --force-sort-within-sections,
            --line-length, "100",
            --section-default, THIRDPARTY,
            --filter-files,
            --project, ansys,
            ansys, codegen, doc, tests
        ]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]
        require_serial: true
      - id: codespell
        name: codespell
        entry: codespell
        language: system
        args: [
            --ignore-words, ignore_words.txt,
            --skip, "*.pyc,*.xml,*.gif,*.png,*.jpg,*.js,*.html,*.svg,tests/ensigth_api_test_assets.txt"

        ]
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        require_serial: true
        args: [
            -lll,
            -n, "3",
            -r,
            -x, "venv/*,src/ansys/api/*,src/ansys/pyensight/ensight_api.py,setup.py,tests/*,codegen/*"
        ]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        require_serial: true
        files: ^src/ansys/pyensight

Enable REST API for EnSight
  src/ansys/pyensight/ensight_grpc.py
  src/ansys/pyensight/launcher.py
  src/ansys/pyensight/locallauncher.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Fix precommit issues
  doc/source/examples_source/25-intermediate/02-utils.py
  src/ansys/pyensight/ensight_grpc.py
  tests/example_tests/test_utils.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Fix some spelling errors.
  doc/source/rest_api/ensight_rest_v1.yaml
Due: check-yaml

Add an example via curl
  doc/source/rest_api/rest_api.rst
Due: none

Add REST support for docker launchers
  src/ansys/pyensight/dockerlauncher.py
  src/ansys/pyensight/dockerlauncherenshell.py
Due: debug-statements, black, isort, flake8, bandit, mypy

One more typo.
  doc/source/rest_api/ensight_rest_v1.yaml
Due: check-yaml

Enable REST API for EnSight (#204)
  doc/source/rest_api/ensight_rest_v1.yaml
  doc/source/rest_api/rest_api.rst
  src/ansys/pyensight/dockerlauncher.py
  src/ansys/pyensight/dockerlauncherenshell.py
  src/ansys/pyensight/ensight_grpc.py
  src/ansys/pyensight/launcher.py
  src/ansys/pyensight/locallauncher.py
Due: check-yaml, debug-statements, black, isort, flake8, bandit, mypy

Change to toml file
  Makefile
  README.rst
  pyproject.toml
  pytest.ini
  setup.py
Due: debug-statements, black, isort, flake8, bandit

Change name to core
  src/ansys/pyensight/core/session.py
  tests/conftest.py
  tests/unit_tests/test_dockerlauncher.py
  tests/unit_tests/test_locallauncher.py
  tests/unit_tests/test_session.py
Due: debug-statements, black, isort, flake8, bandit, mypy

fix coverage generation for utils
  src/ansys/pyensight/session.py
  tests/example_tests/test_utils.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Update LICENSE year
  LICENSE
Due: none

Change linter to style and doc-style
  .github/workflows/ci_cd.yml
Due: check-yaml

Missed keywords
  .github/workflows/ci_cd.yml
Due: check-yaml

Fix workflows
  .github/workflows/ci_cd.yml
Due: check-yaml

Test workflows
  .github/workflows/ci_cd.yml
Due: check-yaml

Remove linter needs
  .github/workflows/ci_cd.yml
Due: check-yaml

Adjust pre-commit to use repos
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
Due: check-yaml

Add bandit hook
  .pre-commit-config.yaml
Due: check-yaml

Remove v from version
  .pre-commit-config.yaml
Due: check-yaml

Remove conflictive arg
  .pre-commit-config.yaml
Due: check-yaml

Check if mypy is raising errors
  .pre-commit-config.yaml
Due: check-yaml

Remove extra arguments
  .pre-commit-config.yaml
Due: check-yaml

Move pre-commit hooks args to toml file
  .pre-commit-config.yaml
  pyproject.toml
Due: check-yaml

Add tomli dependency
  .pre-commit-config.yaml
Due: check-yaml

Add vale.ini file
  doc/.vale.ini
Due: none

Move mypy config to toml and pre-commit
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
Due: check-yaml

Fix missed imports
  src/ansys/pyensight/core/locallauncher.py
  tests/conftest.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Add install missing types to mypy
  pyproject.toml
Due: none

undo install missing types
  pyproject.toml
Due: none

Add accepted and rejected words to vale
  doc/styles/.gitignore
  doc/styles/Vocab/accept.txt
  doc/styles/Vocab/reject.txt
Due: none

Update accepted words
  doc/styles/Vocab/accept.txt
Due: none

Fix vocab
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
  doc/styles/Vocab/accept.txt
Due: none

Remove double spaces after dot
  README.rst
  doc/source/rest_api/rest_api.rst
  doc/source/user_guide/api_differences.rst
  doc/source/user_guide/ensight_scripts.rst
  doc/source/user_guide/object_api.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Fix vale errors
  doc/source/calc_functions.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/object_api.rst
  doc/styles/Vocab/ANSYS/accept.txt
  src/ansys/pyensight/core/utils/views.py
Due: debug-statements, black, isort, flake8, bandit, mypy

Fix vale issues
  doc/source/examples_source/README.txt
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Fix vale issues
  doc/source/calc_functions.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none
